@import "tailwindcss";

@font-face {
  font-family: MontserratMedium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("woff2");
}

@font-face {
  font-family: MontserratBold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("woff2");
}

@font-face {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Fraunces_9pt-Bold.ttf") format("woff2");
}

@theme {
  --color-Green-500: hsl(158, 36%, 37%);
  --color-Green-700: hsl(158, 42%, 18%);
  --color-Black: hsl(212, 21%, 14%);
  --color-Grey: hsl(228, 12%, 48%);
  --color-Cream: hsl(30, 38%, 92%);
  --color-White: hsl(0, 0%, 100%);
  --font-MontserratMedium: "MontserratMedium";
  --font-MontserratBold: "MontserratBold";
  --font-Fraunces: "Fraunces";
}
